.flex-row {
    display: flex;
    align-items: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.header {

    &__inner {
        padding: 20px 0 10px 0;
        gap: 20px;
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 400;

        @media (max-width: 1393px) {
            gap: 10px;
        }

        @media (max-width: 1280px) {
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__high {
        justify-content: end;
        gap: 20px;

        & img {
            display: none;

            @media (max-width: 1280px) {
                display: block;
                margin-left: 45px;
                cursor: pointer;
            }

            @media (max-width: 1200px) {
                margin-left: 30px;
            }

            @media (min-width: 684px) and (max-width: 716px) {
                margin-left: 0;
            }

            @media (max-width: 566px) {
                margin-left: 5px;
            }
        }
    }

    &__phone-row {
        justify-content: space-around;
        gap: 10px;
        font-size: 24px;
        width: 240px;

        @media (max-width: 390px) {
            gap: 0;
        }
    }

    &__email a,
    &__info {
        font-size: 15px;
        line-height: 16px;
        color: #878787;
    }

    &__info {

        @media (max-width: 1200px) {
            display: none;
        }
    }

    &__email {
        @media (max-width: 683px) {
            display: none;
        }
    }

    &__phone a {
        width: 700px;
        font-weight: 700;
        color: #D71635;
        cursor: pointer;

        @media (max-width: 537px) {
            font-size: 18px;
            line-height: 12px;
        }
    }

    &__email a {
        text-decoration: underline;
        cursor: pointer;
    }

    &__desc-inner {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    &__desc {
        text-transform: uppercase;

        @media (max-width: 537px) {
            font-size: 13px;
            line-height: 12px;
        }
    }

    &__desc span {
        padding-left: 10px;
    }

    &__low {
        gap: 20px;
    }

    &__logo {

        @media (max-width: 750px) {
            width: 176px;
            height: 43px;
        }

        @media (max-width: 475px) {
            width: 106px;
            height: 26px;
        }

        @media (max-width: 400px) {
            width: auto;
            height: auto;
        }
    }

    &__description {
        width: 203px;
        font-size: 14px;
        line-height: 17px;
        color: #525252;

        @media (max-width: 990px) {
            display: none;
        }
    }

    &__menu {

        @media (max-width: 1280px) {
            display: none;
        }
    }

    &__menu-list {
        gap: 10px;

        @media (min-width: 1361px) and (max-width: 1386px) {
            gap: 20px;
        }

        @media (max-width: 1360px) {
            text-align: center;
        }
    }

    &__menu-item {
        @media (min-width: 1281px) and (max-width:1386px) {
            width: 100%;
            text-align: center;
        }
    }

    &__menu-link {
        text-transform: uppercase;
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        color: black;

        @media (max-width: 1360px) {
            font-size: 15px;
            line-height: 15px;
            display: block;
        }
    }

    &__menu-link span {
        color: #C5C5C5;
        padding-left: 10px;

        @media (max-width: 1386px) {
            display: none;
        }
    }
}

.container-adaptive {
    max-width: calc(310px + (1200 - 310) * ((100vw - 375px) / (1280 - 375)));
    margin: 0 auto;
    padding: 0 15px;
}

.adaptive-menu.action {
    display: block;
}

.adaptive-menu {
    display: none;
    position: absolute;
    width: 100vw;
    height: 60vh;
    top: 0;
    right: 0;
    padding: 15px 25px 15px 45px;
    background-color: white;
    z-index: 99;

    @media(max-width:595px) {
        height: 80vh;
    }

    &__phone {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    &__phone a {
        font-weight: 700;
        font-size: 24px;
        line-height: 16px;
        color: #D71635;
    }

    &__desc {
        display: flex;
        gap: 10px;
        font-weight: 400;
        text-transform: uppercase;
    }

    &__email {
        font-size: 15px;
        line-height: 16px;
        font-weight: 400;
        text-decoration: underline;
        color: #878787;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 5px;

        @media(min-width: 391px) and (max-width:595px) {
            width: 100%;
        }
    }

    &__link {
        font-size: 16px;
        line-height: 16px;
        font-weight: 400;
        text-transform: uppercase;
        color: black;
    }
}

.adaptive {

    &__high,
    &__low {
        display: flex;
        align-items: center;
    }

    &__high {
        justify-content: space-between;
        margin-bottom: calc(40px + (80 - 40) * ((100vw - 375px) / (1280 - 375)));
    }

    &__low {
        align-items: start;
        gap: 140px;
        justify-content: center;

        @media(max-width:696px) {
            justify-content: space-between;
            gap: 0;
        }

        @media(max-width:595px) {
            flex-direction: column;
            gap: 10px;
        }
    }

    &__col {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__phone,
    &__add {
        display: flex;
        align-items: center;
    }

    &__phone {
        gap: 10px;
    }

    &__phone a {
        font-weight: 700;
        font-size: 30px;
        line-height: 40px;
        color: #D71635;
    }

    &__add {
        gap: 7px;
        font-size: 20px;
        line-height: 27px;
        color: black;
        text-transform: uppercase;
    }

    &__email {
        font-size: 18px;
        color: inherit;
    }

    &__desc {
        margin-top: 25px;
        font-size: 15px;
        line-height: 20px;
        color: #7D7D7D;
    }

}


.apaptive-logo {
    @media(max-width:390px) {
        width: 106px;
        height: 26px;
    }
}