//text colors
$text-color-title:#D71635;
$text-color-main: #000000;
$text-color-white:#FFFFFF;
$ext-color-dark: #525252; //dark-grey - logo in header & footer
$text-color-light:#878787; //light-grey - email, schedule in header & footer


//background
$bg-color-main:#D71635;
$bg-color-sp:rgba(0, 109, 182, 0.08);
$bg-color-light:#EEF3FD;
$bg-color-lighter:#D7D7D7;
$bg-color-white:#FFFFFF;

// fonts
$main-font: 'Rubik', sans-serif;

// font sizes  - из синего проекта
$title-font-size: 45px;
$subtitle-font-size: 24px;
$text-font-size: 18px;
$button-font-size: 22px;

$title-font-size-tablet: 35px;
$title-font-size-mobile: 25px;
$subtitle-font-size-mobile: 20px;
$text-font-size-mobile: 16px;