//text colors
$text-color-title:#D71635;
$text-color-main: #000000;
$text-color-white:#FFFFFF;
$ext-color-dark: #525252; //dark-grey - logo in header & footer
$text-color-light:#878787; //light-grey - email, schedule in header & footer


//background
$bg-color-main:#D71635;
$bg-color-sp:rgba(0, 109, 182, 0.08);
$bg-color-light:#EEF3FD;
$bg-color-lighter:#D7D7D7;
$bg-color-white:#FFFFFF;

// fonts
$main-font: 'Rubik',
sans-serif;

// font sizes
$title-font-size: 40px;
$subtitle-font-size: 30px;
$big-text-font-size: 25px;
$text-font-size: 18px;
$small-text-font-size: 16px;
$button-font-size: 18px;

$title-font-size-tablet: 30px;