@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&family=Roboto:ital,wght@0,300;0,400;1,300&family=Rubik&display=swap");
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

html,
body {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.banner__container {
  max-width: 1920px;
  font-family: "Rubik", sans-serif;
}
.banner__container * {
  outline: 1px solid palevioletred;
}
.banner__slider {
  max-height: 700px;
  position: relative;
}
.banner__slide {
  display: flex;
  align-items: center;
  padding-bottom: 20%;
  background-size: 100%;
  background-repeat: no-repeat;
}
.banner__slide_one {
  background-image: url("../images/block2_slider/banner1_purple.png");
}
.banner__slide_two {
  background-image: url("../images/block2_slider/banner2_blue.png");
}
.banner__slide_three {
  background-image: url("../images/block2_slider/banner3_red.png");
}
.banner__slide_four {
  background-image: url("../images/block2_slider/banner4_violet.png");
}
.banner__slide_five {
  background-image: url("../images/block2_slider/banner5_girl.png");
}
.banner__info {
  max-width: 717px;
  margin-left: 47%;
  padding: 45px;
  border-radius: 4px 0 4px 4px;
  background-color: rgba(255, 255, 255, 0.3450980392);
}
.banner__title {
  font-weight: 600;
  font-size: 40px;
  line-height: 39px;
}
.banner__text {
  margin: 20px auto;
  font-weight: 400;
  font-size: 25px;
  line-height: 42px;
}
.banner__button-more {
  max-width: 234px;
  padding: 15px;
  border: none;
  border-radius: 8px;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  background-color: #D71635;
  color: #FFFFFF;
  cursor: pointer;
}
.banner__button-more img {
  display: inline;
}
.banner__navigation {
  position: absolute;
  z-index: 1;
  left: 47%;
  top: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 717px;
}
.banner__nav-button {
  width: 2.6vw;
  height: 2.6vw;
  border: none;
  border-radius: 1.3vw;
}
.banner__nav-button img {
  max-width: 80%;
}
.banner__nav-button_prev {
  background-color: rgba(234, 20, 46, 0.1254901961);
}
.banner__nav-button_next {
  background-color: #EA142E;
}

/* target the active bullet */
span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: blue;
  opacity: 1;
}

/* target all bullets */
.swiper-pagination-bullet {
  background-color: red;
  opacity: 1;
}

.products {
  font-family: "Rubik", sans-serif;
}
.products__visible-wrapper {
  width: 80%;
  display: flex;
}
.products__product-card {
  width: 20%;
}
.products__product-card img {
  width: 100%;
  max-width: 342px;
}