@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&family=Roboto:ital,wght@0,300;0,400;1,300&family=Rubik&display=swap");
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

html,
body {
  height: 100%;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.wrapper {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1460px;
  margin: 0 auto;
  padding: 0 15px;
}

.flex-row {
  display: flex;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.header__inner {
  padding: 20px 0 10px 0;
  gap: 20px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
}
.header__high {
  justify-content: end;
  gap: 20px;
}
.header__phone-row {
  justify-content: space-around;
  gap: 10px;
  font-size: 24px;
  width: 240px;
}
.header__email a, .header__info {
  font-size: 15px;
  line-height: 16px;
  color: #878787;
}
.header__phone a {
  width: 700px;
  color: #D71635;
}
.header__email a {
  text-decoration: underline;
}
.header__desc {
  text-transform: uppercase;
}
.header__desc span {
  padding-left: 10px;
}
.header__low {
  gap: 20px;
}
.header__description {
  width: 203px;
  font-size: 14px;
  line-height: 17px;
  color: #525252;
}
.header__menu-list {
  gap: 10px;
}
.header__menu-link {
  text-transform: uppercase;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: black;
}
.header__menu-link span {
  color: #C5C5C5;
  padding-left: 10px;
}

.banner__container {
  max-width: 1920px;
}
.banner__slide {
  min-height: 85vh;
  background-size: 100%;
  background-repeat: no-repeat;
}
.banner__slide_one {
  background-image: url("../images/block2_slider/banner1_purple.png");
}
.banner__slide_two {
  background-image: url("../images/block2_slider/banner2_blue.png");
}
.banner__slide_three {
  background-image: url("../images/block2_slider/banner3_red.png");
}
.banner__slide_four {
  background-image: url("../images/block2_slider/banner4_violet.png");
}
.banner__slide_five {
  background-image: url("../images/block2_slider/banner5_girl.png");
}
.banner__info {
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 47%;
  padding: 45px;
  border-radius: 4px 0 4px 4px;
  background-color: rgba(255, 255, 255, 0.3450980392);
}
.banner__nav-button {
  width: 2.6vw;
  height: 2.6vw;
  border: none;
  border-radius: 1.3vw;
}
.banner__nav-button img {
  max-width: 80%;
}
.banner__nav-button_prev {
  background-color: rgba(234, 20, 46, 0.1254901961);
}
.banner__nav-button_next {
  background-color: #EA142E;
}

.about__info {
  background-color: #EFF0F2;
}
.about__info-text span {
  font-weight: 600;
  font-size: 18px;
}
.about__card {
  justify-content: space-between;
  background-color: white;
  border-radius: 0px 0px 4px 4px;
  width: 706px;
  height: 592px;
  padding: 70px 45px 55px 45px;
  margin-bottom: -65px;
}
.about__title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 39px;
  color: #D71635;
  padding-left: 135px;
  padding-bottom: 0;
  margin-bottom: 45px;
  position: relative;
}
.about__title::before {
  position: absolute;
  content: "";
  background-image: url(../images/vector.png);
  width: 110px;
  height: 26px;
  left: 0;
  bottom: 0;
}
.about__info-inner {
  gap: 75px;
}
.about__col {
  gap: 20px;
}
.about__wrapper {
  position: relative;
}
.about__logo {
  height: 84px;
}
.about__background {
  height: 405px;
}
.about__background img {
  height: 100%;
  border-radius: 4px;
}
.about__background-desc {
  position: absolute;
  width: 485px;
  height: 112px;
  color: white;
  background-color: #D71635;
  padding: 22px;
  left: 0;
  bottom: 0;
  border-radius: 4px;
}
.about__background-desc span {
  font-weight: 500;
  font-size: 18px;
}
.about__description {
  padding: 145px 45px 80px 45px;
  background: rgba(0, 109, 182, 0.08);
  border-radius: 4px;
}
.about__desc-inner {
  gap: 90px;
}
.about__desc-row {
  gap: 40px;
  width: 550px;
}
.about__desc-col {
  gap: 70px;
}
.about__desc-col:nth-child(2) {
  gap: 45px;
}
.about__desc-text {
  width: 540px;
}
.about__desc {
  font-weight: 500;
  font-size: 18px;
  width: 265px;
}
.about__desc-title {
  font-weight: 600;
  font-size: 25px;
  text-transform: uppercase;
  color: #D71635;
}
.about__block {
  padding: 15px 50px 15px 65px;
  height: 82px;
  justify-content: center;
  background-color: white;
  border-radius: 4px;
}
.about__block p {
  display: block;
}
.about__block-inner, .about__block-col {
  gap: 15px;
}
.about__btn {
  height: 82px;
  color: white;
  background-color: #D71635;
  border-radius: 4px;
  border: transparent;
}

.title span {
  color: #D71635;
}

.photos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1430px;
  min-height: 936px;
  margin: 128px auto 35px;
}
.photos__item {
  max-width: 700px;
}
.photos__item_r-top {
  justify-self: flex-end;
}
.photos__item_l-bot {
  align-self: flex-end;
}
.photos__item_r-bot {
  justify-self: flex-end;
  align-self: flex-end;
}

.convinience {
  max-width: 1430px;
  margin: 0 auto;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

.title-container {
  margin-left: 245px;
}

.card-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  margin: 66px auto 54px;
}

.card-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 337px;
  min-width: 337px;
  max-height: 328px;
  min-height: 328px;
  padding: 21px 19px 48px 19px;
  background-color: #EEF3FD;
  border: 1px solid #C4C4C4;
  border-radius: 4px;
}
.card-item__button {
  align-self: flex-start;
  max-width: 160px;
  min-width: 160px;
  max-height: 44px;
  min-height: 44px;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #D71635;
  background-color: rgba(215, 22, 53, 0.15);
  border: none;
  border-radius: 4px;
}
.card-item__image {
  max-height: 82px;
}
.card-item__slogan {
  font-size: 24px;
  text-align: center;
}

.service {
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}
.service_bg-grey {
  max-height: 537px;
  min-height: 537px;
  background-color: #EEF3FD;
}
.service_bg-grey__image {
  max-height: 423px;
  margin-top: 57px;
  margin-right: 306px;
  margin-bottom: 57px;
  margin-left: 1035px;
}
.service_bg-red {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-height: 670px;
  min-height: 670px;
  background-color: #D71635;
}
.service_bg-white {
  position: absolute;
  top: 0;
  left: 245px;
  z-index: 1;
  max-height: 662px;
  min-height: 662px;
  max-width: 706px;
  background-color: #FFFFFF;
}

.title-container_contacts {
  margin-top: 21px;
  margin-left: 245px;
}
.title-container__icon, .title-container__title {
  display: inline-block;
  margin-top: 62px;
}
.title-container__title {
  margin-left: 29px;
  font-family: "Rubik", sans-serif;
  font-size: 40px;
  font-weight: 600;
  color: #D71635;
}

.content-container {
  max-width: 610px;
  margin: 46px 44px 40px 52px;
  line-height: 24px;
}
.content-container__item {
  margin-bottom: 15px;
  font-size: 18px;
  color: #000000;
}
.content-container__item_bold {
  font-weight: 700;
}
.content-container__item_red {
  color: #D71635;
}
.content-container__item_tiny {
  font-size: 14px;
  color: #878787;
}
.content-container__icon {
  max-height: 44px;
  margin-bottom: 21px;
}

.block-list {
  margin-bottom: 15px;
}
.block-list__title {
  margin-bottom: 15px;
}

.content-container_left {
  max-width: 502px;
  margin-top: 213px;
  margin-left: 300px;
  line-height: 27px;
}
.content-container_left__item {
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 20px;
  color: #FFFFFF;
}
.content-container_left__item::before {
  position: absolute;
  content: "";
  background-image: url("../../images/block-8_icons/icon_small_question_mark.svg");
  width: 33px;
  height: 33px;
  top: 10px;
  left: -100px;
}
.content-container_left__item_sp {
  margin-top: 55px;
  font-weight: 300;
  line-height: 30px;
}
.content-container_left__item_sp::before {
  position: absolute;
  content: "";
  background-image: url("../../images/block-8_icons/icon_phone.svg");
  width: 66px;
  height: 66px;
  top: 0px;
  left: -116px;
}
.content-container_left .content-container__item_bold {
  font-size: 30px;
}

.content-container_right {
  max-width: 615px;
  margin-top: 213px;
  margin-left: 119px;
}

.feedback-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 2fr 1fr;
  justify-content: space-between;
  max-width: 615px;
  max-height: 360px;
}
.feedback-form__input {
  background-color: #D71635;
  border: none;
}

.input-container {
  display: flex;
  flex-direction: column;
  border: solid 2px rgba(255, 255, 255, 0.48);
  border-radius: 4px;
  color: #FFFFFF;
}
.input-container_sm {
  max-width: 298px;
  min-height: 66px;
}
.input-container_lg {
  max-width: 605px;
  min-height: 128px;
  grid-column: 1/3;
}
.input-container_sm, .input-container_lg {
  margin-top: 6px;
}
.input-container_sm {
  margin-bottom: 6px;
}
.input-container_lg {
  margin-bottom: 17px;
}

.input-name {
  margin-left: 17px;
  margin-right: 17px;
  font-size: 12px;
}

.input-field {
  margin-left: 17px;
  margin-right: 17px;
  color: #FFFFFF;
  background-color: #D71635;
  border: none;
}
.input-field::-moz-placeholder {
  font-size: 16px;
  color: #FFFFFF;
}
.input-field::placeholder {
  font-size: 16px;
  color: #FFFFFF;
}

.block-btn {
  position: relative;
  max-width: 200px;
  min-width: 200px;
  max-height: 51px;
  min-height: 51px;
  padding-left: 23px;
  border: 0;
  border-radius: 4px;
  text-transform: uppercase;
  text-align: left;
  font-size: 18px;
}
.block-btn_red {
  background-color: #D71635;
  color: #FFFFFF;
}
.block-btn_red::after {
  position: absolute;
  content: "";
  background-image: url("../../images/arrows/white_arrow.svg");
  width: 32px;
  height: 10px;
  top: 20.5px;
  right: 22px;
}
.block-btn_white {
  background-color: #FFFFFF;
  color: #D71635;
}
.block-btn_white::after {
  position: absolute;
  content: "";
  background-image: url("../../images/arrows/red_arrow.svg");
  min-width: 32px;
  height: 10px;
  top: 20.5px;
  right: 22px;
}
.block-btn_centered {
  max-width: 242px;
  min-width: 242px;
  margin-right: 594px;
  margin-left: 594px;
}
.block-btn_centered::after {
  position: absolute;
  content: "";
  background-image: url("../../images/arrows/double_arrow_white.svg");
  min-width: 75px;
  height: 10px;
  top: 20.5px;
  right: 22px;
}

.form {
  background-color: #D71635;
  color: #FFFFFF;
  padding-top: 85px;
  padding-bottom: 400px;
}
@media screen and (max-width: 700px) {
  .form {
    padding-bottom: 670px;
  }
}
@media screen and (max-width: 390px) {
  .form {
    padding-top: 30px;
  }
}

.form__inner {
  display: flex;
  justify-content: space-between;
  gap: 200px;
}
@media screen and (max-width: 1031px) {
  .form__inner {
    gap: 100px;
  }
}
@media screen and (max-width: 940px) {
  .form__inner {
    gap: 50px;
  }
}
@media screen and (max-width: 910px) {
  .form__inner {
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    text-align: center;
  }
}
@media screen and (max-width: 910px) {
  .form__inner {
    margin-bottom: 20px;
  }
}

.form__text {
  width: 420px;
  padding-right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}
@media screen and (max-width: 750px) {
  .form__text {
    text-align: center;
  }
}
@media screen and (max-width: 445px) {
  .form__text {
    max-width: 340px;
  }
}

.form__title {
  font-family: "RF Dewi Extended";
  font-weight: 700;
  font-size: 45px;
  line-height: 58px;
  margin: 0;
}
@media screen and (max-width: 750px) {
  .form__title {
    font-size: 35px;
  }
}
@media screen and (max-width: 390px) {
  .form__title {
    font-size: 25px;
    line-height: 30px;
  }
}

.form__subtitle {
  width: 400px;
}
@media screen and (max-width: 390px) {
  .form__subtitle {
    font-size: 16px;
    line-height: 22px;
  }
}

.form__main {
  flex: 1;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
}
@media screen and (max-width: 420px) {
  .form__main {
    margin-top: -30px;
  }
}

.form__main-input,
.form__main-input-text {
  border-radius: 6px;
  border-color: transparent;
  color: inherit;
  font-size: 16px;
  font-weight: 400;
  background-color: inherit;
  border: 1px solid #9BB6F3;
}

.form__main-input::-moz-placeholder, .form__main-input-text::-moz-placeholder {
  color: #9BB6F3;
  font-size: inherit;
}

.form__main-input::placeholder,
.form__main-input-text::placeholder {
  color: #9BB6F3;
  font-size: inherit;
}

.form__row {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
@media screen and (max-width: 420px) {
  .form__row {
    flex-direction: column;
  }
}

.form__main-input {
  flex: 1;
  padding: 5px 0 5px 18px;
}

.error .form__main-input {
  border-color: #D71635;
}

.form__main-input-text {
  height: 115px;
  padding: 5px 0 35px 18px;
}

.btn-row {
  display: flex;
  flex-direction: column;
  align-items: end;
}
@media screen and (max-width: 910px) {
  .btn-row {
    align-items: center;
  }
}

.form__main-button {
  position: relative;
  width: 239px;
  margin-top: 30px;
  padding: 10px 35px 10px 10px;
  border-radius: 8px;
  border-color: transparent;
  background-color: #FFFFFF;
  color: #D71635;
  font-size: 22px;
  font-weight: 600;
  cursor: pointer;
}
@media screen and (max-width: 390px) {
  .form__main-button {
    width: 211px;
    margin: 15px 50px;
  }
}

.form__main-button::after {
  position: absolute;
  content: "";
  background-image: url(../../images/arrows/red_arrow.svg);
  width: 26px;
  height: 14px;
  right: 25px;
  bottom: 15px;
}

.contacts {
  display: flex;
  max-width: 1920px;
  max-height: 387px;
  margin: 0 auto;
  font-family: "Rubik", sans-serif;
}
.contacts_left {
  min-width: 1022px;
  display: flex;
  flex-direction: column;
}
.contacts_right {
  min-width: 898px;
}

.contacts-inner {
  display: flex;
}
.contacts-inner_left, .contacts-inner_right {
  display: inherit;
  flex-direction: column;
  align-items: flex-start;
  max-height: 155px;
  margin-top: 65px;
  padding: 26px;
  background-color: #EEF3FD;
}
.contacts-inner_left {
  min-width: 397px;
  max-width: 397px;
  margin-left: 245px;
}
.contacts-inner_right {
  max-width: 285px;
  min-width: 285px;
  margin-left: 14px;
}

.contacts-inner_left .content-container__item_bold {
  font-size: 20px;
}
.contacts-inner_left .content-container__item {
  margin-top: 10px;
}

.contacts-inner_right .content-container__item_bold {
  font-size: 20px;
}
.contacts-inner_right .content-container__item {
  margin-top: 10px;
}

.footer {
  display: flex;
  max-width: 1920px;
  min-height: 320px;
  margin: 0 auto;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  background-color: #FFFFFF;
}
@media screen and (max-width: 1080px) {
  .footer {
    height: 400px;
  }
}
@media screen and (max-width: 700px) {
  .footer {
    text-align: center;
    height: 660px;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
}

.footer-logo {
  display: flex;
  flex-direction: column;
  max-height: 115px;
  margin-top: 91px;
  margin-bottom: 116px;
  margin-left: 245px;
}
.footer-logo__image {
  max-width: 208px;
  margin-bottom: 20px;
}
.footer-logo__text {
  max-width: 245px;
  color: #525252;
}
@media screen and (max-width: 910px) {
  .footer-logo {
    width: 232px;
    align-items: center;
  }
}

.footer-menu {
  display: flex;
  flex-direction: column;
  max-width: 202px;
  margin-top: 75px;
  margin-left: 250px;
}
.footer-menu__link {
  font-size: 18px;
  line-height: 27px;
  color: #000000;
}
@media screen and (max-width: 1080px) {
  .footer-menu {
    width: auto;
  }
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  margin-left: 166px;
}
.footer-contacts_top {
  margin-top: 75px;
}
.footer-contacts_bottom {
  max-width: 368px;
  margin-top: 45px;
}
.footer-contacts .content-container__item_bold {
  font-size: 30px;
}
@media screen and (max-width: 910px) {
  .footer-contacts {
    justify-content: flex-end;
  }
}
@media screen and (max-width: 700px) {
  .footer-contacts {
    justify-content: center;
    align-items: center;
    margin-top: -30px;
  }
}/*# sourceMappingURL=style.css.map */