.about {

    &__info {
        background-color: #EFF0F2;
    }

    &__info-text span {
        font-weight: 600;
        font-size: 18px;
    }

    &__card {
        justify-content: space-between;
        background-color: white;
        border-radius: 0px 0px 4px 4px;
        width: 665px;
        height: 615px;
        padding: 70px 45px 35px 45px;
        margin-bottom: calc(-1 * (30px + (65 - 30) * ((100vw - 991px) / (1920 - 991))));
        font-size: 18px;
        height: auto;

        @media (max-width: 750px) {
            margin-left: calc((-1) * (50px + (150 - 50)*((100vw - 641px) / (750 - 641))));
            width: 608px;
            font-size: 16px;
        }

        @media (max-width: 640px) {
            margin-left: 0;
            width: 100vw;
        }

        @media (max-width: 510px) {
            justify-content: space-around;
        }

        @media (max-width: 453px) {
            padding: 0 30px 30px 30px;
        }

        @media (max-width: 425px) {
            justify-content: flex-start;
        }

    }

    &__title {
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 39px;
        color: #D71635;
        padding-left: 100px;
        padding-bottom: 0;
        margin-bottom: 45px;
        position: relative;

        @media (max-width: 990px) {
            font-size: 30px;
            line-height: 29px;
            margin-bottom: 30px;
        }

        @media (max-width: 390px) {
            padding-left: 55px;
        }



        &::before {
            position: absolute;
            content: '';
            background-image: url(../images/vector.png);
            width: 110px;
            height: 26px;
            left: -30px;
            bottom: 5px;

            @media (max-width: 390px) {
                left: -65px;
            }
        }
    }

    &__info-inner {
        gap: 75px;

        @media (max-width: 1050px) {
            gap: 35px;
        }

        @media (max-width: 990px) {
            flex-direction: column;
            gap: 50px;
        }
    }

    &__col {
        gap: 20px;

        @media screen and (max-width: 1050px) {
            gap: 15px;
        }

        @media (max-width: 990px) {
            width: 530px;
        }

        @media (max-width: 640px) {
            width: 100%;
        }
    }

    &__wrapper {
        position: relative;

        @media (max-width: 990px) {
            margin-bottom: 50px;
        }

        @media (max-width: 750px) {
            font-size: 16px;
            margin-left: 50px;
        }

        @media (max-width: 390px) {
            margin-left: 0;
        }
    }

    &__logo {
        height: 84px;

        @media (max-width: 652px) {
            width: 186px;
            height: 64px;
        }
    }

    &__background {
        height: 405px;

        @media (max-width: 990px) {
            margin-right: -82px;
        }

        @media (max-width: 750px) {
            margin-right: 124px;
        }

        @media (max-width: 640px) {
            margin-right: 0;
        }

        @media (max-width: 390px) {
            height: auto;
        }

        & img {
            height: 100%;
            border-radius: 4px;
        }
    }

    &__background-desc {
        position: absolute;
        width: 485px;
        height: 112px;
        color: white;
        background-color: #D71635;
        padding: 22px;
        left: 0;
        bottom: 0;
        border-radius: 4px;

        @media screen and (max-width: 1300px) {
            width: 405px;
        }

        @media screen and (max-width: 1150px) {
            width: 380px;
        }

        @media (max-width: 640px) {
            width: 100%;
        }

        @media (max-width: 460px) {
            padding: 13px;
        }

        & p {

            @media (max-width: 460px) {
                line-height: 22px;
            }
        }

        & span {
            font-weight: 500;
            font-size: 18px;
        }

    }

    &__description {
        background: rgba(0, 109, 182, 0.08);
        border-radius: 4px;
    }

    &__description-wrapper {
        padding: 145px 45px 80px 45px;

        @media (max-width: 990px) {
            padding: 70px 0px 70px 45px;
        }

        @media (max-width: 750px) {
            padding: 70px 25px;
        }

        @media (max-width: 390px) {
            padding: 25px;
        }
    }

    &__desc-inner {
        gap: 100px;
        justify-content: space-between;

        @media screen and (max-width: 1460px) {
            gap: 60px;
        }

        @media (max-width: 990px) {
            flex-direction: column;
            gap: 45px;
        }

        @media (max-width: 715px) {
            align-items: flex-start;
        }
    }

    &__desc-row {
        gap: 40px;
        width: 560px;

        @media (max-width: 990px) {
            gap: 60px;
            width: 100%;
        }

        @media (max-width: 715px) {
            gap: 35px;
        }

        @media (max-width: 529px) {
            flex-direction: column;
            gap: 15px;
            align-items: start;
        }
    }

    &__desc-col {
        gap: 70px;

        @media (max-width: 990px) {
            gap: 30px;
        }

        &:nth-child(2) {
            gap: 45px;

            @media (max-width: 990px) {
                font-size: 16px;
                width: 100%;
                gap: 30px;
            }
        }

        &:nth-child(1) {
            width: 500px;

            @media (max-width: 990px) {
                width: 100%;
                padding-right: 35px;
            }

            @media (max-width: 750px) {
                padding-right: 0;
            }
        }
    }

    &__desc {
        font-size: 18px;
        font-weight: 500;

        @media (max-width: 750px) {
            padding-right: 35px;
        }

        @media (max-width: 652px) {
            padding-right: 0;
        }
    }

    &__desc-title {
        font-weight: 600;
        font-size: 25px;
        text-transform: uppercase;
        color: #D71635;

        @media (min-width: 991px) and (max-width: 1360px) {
            text-align: center;
        }

        @media (max-width: 990px) {
            font-size: 20px;
        }

        @media (max-width: 725px) {
            text-align: center;
        }
    }

    &__desc-text {
        font-size: 18px;
        width: 590px;

        @media (max-width: 990px) {
            font-size: 16px;
            width: 100%;
        }

        @media (max-width: 380px) {
            font-size: 15px;
            line-height: 22px;
        }
    }

    &__block {
        padding: 10px 50px 10px 75px;
        height: 70px;
        justify-content: center;
        background-color: white;
        border-radius: 4px;

        @media screen and (max-width: 1460px) {
            padding: 10px 25px 10px 75px;
        }

        @media (max-width: 740px) {
            padding-right: 0;
        }

        @media (max-width: 380px) {
            padding-right: 8px;
        }

        & p {
            display: block;
        }
    }

    &__block-inner,
    &__block-col {
        gap: 15px;
    }

    &__block-col {
        @media (max-width: 990px) {
            width: 100%;
        }
    }

    &__block-inner {
        font-size: 18px;

        @media screen and (max-width: 1460px) {
            font-size: 16px;
        }

        @media (max-width: 990px) {
            justify-content: space-between;
        }

        @media (max-width: 740px) {
            line-height: 20px;
        }

        @media (max-width: 725px) {
            flex-direction: column;
            width: 320px;
            align-items: center;
            margin: 0 auto;
        }

        @media (max-width: 380px) {
            width: auto;
        }
    }

    &__btn {
        height: 70px;
        line-height: 42px;
        color: white;
        background-color: #D71635;
        border-radius: 4px;
        border: transparent;
        font-weight: 400;
        text-transform: uppercase;
        padding-right: 40px;
        position: relative;

        @media (max-width: 990px) {
            padding-right: 90px;
        }

        &::after {
            position: absolute;
            content: '';
            background-image: url(../images/arrows/white_arrow.svg);
            width: 32px;
            height: 10px;
            bottom: 32px;
            left: 190px;
        }
    }
}

.title {
    font-weight: 500;

    & span {
        color: #D71635;
        font-weight: 600;
    }
}

.block-first:nth-child(1),
.block-second:nth-child(2) {
    font-weight: 500;
}

.icon__1 {
    position: relative;
    gap: 5px;

    &::before {
        position: absolute;
        content: '';
        background-image: url(../images/about-icon1.svg);
        width: 55px;
        height: 48px;
        left: 10px;
        bottom: 13px;
    }
}

.icon__2 {
    position: relative;

    &::before {
        position: absolute;
        content: '';
        background-image: url(../images/about-icon2.svg);
        width: 45px;
        height: 45px;
        left: 10px;
        bottom: 15px;
    }
}

.icon__3 {
    position: relative;

    &::before {
        position: absolute;
        content: '';
        background-image: url(../images/about-icon3.svg);
        width: 36px;
        height: 45px;
        left: 10px;
        bottom: 13px;
    }
}