.banner {
    * {
        outline: 1px solid palevioletred;
    }

    &__container {
        max-width: 1920px;
        font-family: $main-font;

        * {
            outline: 1px solid palevioletred;
        }
    }

    &__slider {
        max-height: 700px;
        // box-sizing: border-box;
        position: relative;
    }

    &__wrapper {}

    &__slide {
        display: flex;
        align-items: center;
        min-height: 700px;
        padding-bottom: 20%;
        background-size: 100%;
        background-repeat: no-repeat;

        &_one {
            background-image: url('../images/block2_slider/banner1_purple.png');
        }

        &_two {
            background-image: url('../images/block2_slider/banner2_blue.png');
        }

        &_three {
            background-image: url('../images/block2_slider/banner3_red.png');
        }

        &_four {
            background-image: url('../images/block2_slider/banner4_violet.png');
        }

        &_five {
            background-image: url('../images/block2_slider/banner5_girl.png');
        }
    }

    &__info {
        // width: fit-content;
        max-width: 717px;
        margin-left: 47%;
        padding: 45px;
        border-radius: 4px 0 4px 4px;
        background-color: #FFFFFF58;
    }

    &__title {
        @include font-style (600, $title-font-size, 39px);
    }

    &__text {
        margin: 20px auto;
        @include font-style (400, $big-text-font-size, 42px);
    }

    &__button-more {
        @include button-main (234px, 15px, $button-font-size);
        text-transform: uppercase;

        img {
            display: inline;
        }
    }

    &__navigation {
        position: absolute;
        z-index: 1;
        left: 47%;
        top: 80%;

        display: flex;
        align-items: center;
        justify-content: space-between;

        max-width: 717px;
    }

    &__pagination {}

    &__nav-button {
        // width: 50px;
        // height: 50px;
        // border-radius: 25px;
        width: calc(100vw * 0.026);
        height: calc(100vw * 0.026);
        border: none;
        border-radius: calc(100vw * 0.026 / 2);

        img {
            // margin: 0 auto;
            max-width: 80%;
        }

        &_prev {
            background-color: #EA142E20;
        }

        &_next {
            background-color: #EA142E;
        }
    }

}

/* target the active bullet */
span.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: blue;
    opacity: 1;
}

/* target all bullets */
.swiper-pagination-bullet {
    background-color: red;
    opacity: 1;
}