.banner {
    * {
        outline: 1px solid palevioletred;
    }

    &__container {
        max-width: 1920px;
        font-family: $main-font;

        // * {
        //     outline: 1px solid palevioletred;
        // }
    }

    &__slider {
        max-height: 700px;
        // box-sizing: border-box;
        position: relative;
    }

    &__wrapper {}

    &__slide {
        display: flex;
        align-items: center;
        min-height: 700px;
        padding-bottom: 20%;
        background-size: 100%;
        background-repeat: no-repeat;

        &_one {
            background-image: url('../images/block2_slider/banner1_purple.png');
        }

        &_two {
            background-image: url('../images/block2_slider/banner2_blue.png');
        }

        &_three {
            background-image: url('../images/block2_slider/banner3_red.png');
        }

        &_four {
            background-image: url('../images/block2_slider/banner4_violet.png');
        }

        &_five {
            background-image: url('../images/block2_slider/banner5_girl.png');
        }
    }

    &__info {
        // width: fit-content;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        min-width: 38%;
        max-width: 717px;
        min-height: 260px;
        margin-left: 47%;
        padding: 45px;
        border-radius: 4px 0 4px 4px;
        background-color: #FFFFFF58;
    }

    &__title {
        width: 100%;
        @include font-style (600, $title-font-size, 39px);
    }

    &__text {
        width: 100%;
        margin: 20px auto;
        @include font-style (400, $big-text-font-size, 35px);
    }

    &__button-more {
        @include button-main (234px, 15px, $button-font-size);
        text-transform: uppercase;

        img {
            display: inline;
        }
    }

    &__navigation {
        position: absolute;
        z-index: 2;
        left: 47%;
        top: 77%;

        display: flex;
        align-items: center;
        justify-content: space-between;

        max-width: 717px;
        min-width: 42.5%;
    }

    &__pagination {}

    &__nav-button {
        width: 55px;
        min-height: 50px;
        border: none;
        border-radius: 25px;
        // box-sizing: border-box;

        img {
            margin: 0 auto;
            max-width: 80%;
        }

        &_prev {
            background-color: #EA142E20;
        }

        &_next {
            margin-left: 20px;
            background-color: #EA142E;
        }
    }

}

.swiper-scrollbar {
    background: none;
}

/* target all bullets */
.swiper-pagination-bullet {
    width: 50px;
    height: 4px;
    border-radius: 0;
    background-color: $bg-color-light;
    opacity: 1;
}

/* target the active bullet */
span.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: $bg-color-main;
    opacity: 1;
}