.banner {
    // * {
    //     outline: 1px solid palevioletred;
    // }

    &__container {
        font-family: $main-font;

        * {
            outline: 1px solid palevioletred;
        }
    }

    &__slider {
        position: relative;
    }

    &__wrapper {}

    &__slide {
        display: flex;
        align-items: center;
        min-height: 36vw;
        background-size: 100%;
        background-repeat: no-repeat;

        &_one {
            background-image: url('../images/block2_slider/banner1_purple.png');
        }

        &_two {
            background-image: url('../images/block2_slider/banner2_blue.png');
        }

        &_three {
            background-image: url('../images/block2_slider/banner3_red.png');
        }

        &_four {
            background-image: url('../images/block2_slider/banner4_violet.png');
        }

        &_five {
            background-image: url('../images/block2_slider/banner5_girl.png');
        }
    }

    &__info {
        width: 38%;
        max-width: 730px;
        min-height: 260px;
        margin-left: 47%;
        padding: 45px;

        display: flex;
        flex-wrap: wrap;
        align-content: center;

        border-radius: 4px 0 4px 4px;
        background-color: #FFFFFF58;
    }

    &__title {
        width: 100%;
        @include font-style (600, $title-font-size, 39px);
    }

    &__text {
        width: 100%;
        margin: 20px auto;
        @include font-style (400, $big-text-font-size, 35px);
    }

    &__button-more {
        @include button-main (234px, 15px, $button-font-size);
        text-transform: uppercase;

        img {
            display: inline;
        }
    }

    &__navigation {
        position: absolute;
        z-index: 2;
        left: 47%;
        top: 77%;

        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 43%;
        max-width: 820px;
    }

    &__pagination {}

    &__nav-button {
        width: 55px;
        min-height: 50px;
        border: none;
        border-radius: 25px;

        img {
            margin: 0 auto;
            max-width: 80%;
        }

        &_prev {
            background-color: #EA142E20;
        }

        &_next {
            margin-left: 20px;
            background-color: #EA142E;
        }
    }

}

.swiper-scrollbar {
    background: none;
}

.swiper-pagination-bullet {
    width: 50px;
    height: 4px;
    border-radius: 0;
    background-color: $bg-color-light;
    opacity: 1;
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: $bg-color-main;
    opacity: 1;
}


@media screen and (min-width: 1644px) and (max-width: 1844px) {
    .banner {
        &__info {
            min-height: 200px;
        }

        &__navigation {
            top: 80%;
        }

        &__text {
            line-height: 32px;
        }
    }
}

@media screen and (min-width: 1469px) and (max-width: 1643px) {
    .banner {
        &__info {
            min-height: 150px;
            padding: 35px;
        }

        &__navigation {
            width: 43%;
            top: 82%;
        }

        &__title {
            font-size: 36px;
        }

        &__text {
            margin: 15px auto;
            font-size: 22px;
            line-height: 32px;
        }
    }
}

@media screen and (min-width: 1285px) and (max-width: 1468px) {
    .banner {
        &__info {
            min-height: 100px;
            padding: 30px;
        }

        &__navigation {
            top: 84%;
        }

        &__title {
            font-size: 30px;
        }

        &__text {
            font-size: 20px;
            line-height: 26px;
        }
    }
}

@media screen and (min-width: 1024px) and (max-width: 1284px) {
    .banner {
        &__info {
            width: 43%;
            min-height: 80px;
            padding: 27px 27px 20px 27px;
            margin-left: 45%;
        }

        &__navigation {
            left: 45%;
            top: 84%;
            width: 48%;
        }

        &__nav-button {
            min-height: 45px;
        }

        &__title {
            font-size: 25px;
            line-height: 28px;
        }

        &__text {
            font-size: 18px;
            line-height: 23px;

            margin: 12px auto;
        }

        &__button-more {
            font-size: 16px;
            padding: 10px;
        }
    }
}

// планшет 
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .banner {
        &__slide {
            min-height: 55vw;

            &_one {
                background-image: url('../images/block2_slider/banner1_purple_tablet.png');
            }

            &_two {
                background-image: url('../images/block2_slider/banner2_blue_tablet.png');
            }

            &_three {
                background-image: url('../images/block2_slider/banner3_red_tablet.png');
            }

            &_four {
                background-image: url('../images/block2_slider/banner4_violet_tablet.png');
            }

            &_five {
                background-image: url('../images/block2_slider/banner5_girl_tablet.png');
            }
        }

        &__info {
            width: 46%;
            min-height: 180px;
            margin-left: 40%;
            padding: 35px;

            @media screen and (max-width: 788px) {
                padding: 25px;
            }
        }

        &__title {
            @include font-style (600, $title-font-size-tablet, 35px);

            @media screen and (max-width: 888px) {
                @include font-style (600, 25px, 30px);
            }
        }

        &__text {
            margin: 10px auto;
            @include font-style (400, $text-font-size, 25px);

            @media screen and (max-width: 888px) {
                @include font-style (400, 16px, 20px);
            }
        }

        &__button-more {
            font-size: $small-text-font-size;
            padding: 12px;
        }

        &__navigation {
            left: 40%;
            top: 80%;
            width: 53%;

            @media screen and (max-width: 830px) {
                top: 83%;
            }
        }

        &__nav-button {
            width: 45px;
            min-height: 38px;
        }
    }

    .swiper-pagination-bullet {
        width: 37px;
    }
}

// мобильные
@media screen and (min-width: 240px) and (max-width: 767px) {
    .banner {
        &__slide {
            // display: flex;
            // align-items: center;
            min-height: 130vw;
            // background-size: 100%;
            // background-repeat: no-repeat;

            &_one {
                background-image: url('../images/block2_slider/banner1_purple_mobile.png');
            }

            &_two {
                background-image: url('../images/block2_slider/banner2_blue_mobile.png');
            }

            &_three {
                background-image: url('../images/block2_slider/banner3_red_mobile.png');
            }

            &_four {
                background-image: url('../images/block2_slider/banner4_violet_mobile.png');
            }

            &_five {
                background-image: url('../images/block2_slider/banner5_girl_mobile.png');
            }
        }

        &__info {
            position: absolute;
            top: 66%;
            width: 100%;
            // max-width: 730px;
            min-height: 200px;
            margin-left: 0;
            padding: 25px;

            // display: flex;
            // flex-wrap: wrap;
            // align-content: center;

            // border-radius: 4px 0 4px 4px;
            background-color: $bg-color-white;
        }

        &__title {
            // width: 100%;
            @include font-style (600, $title-font-size-tablet, 39px);
        }

        &__text {
            // width: 100%;
            // margin: 20px auto;
            @include font-style (400, $text-font-size, 30px);
        }

        &__navigation {
            left: 5%;
            top: 63%;

            width: 90%;

            justify-content: center;
        }

        &__nav-button {
            display: none;
        }
    }

    .swiper-pagination-bullet {
        width: 18%;
        height: 5px;
    }
}