.block-btn {
    position: relative;
    max-width: 200px;
    min-width: 200px;
    max-height: 51px;
    min-height: 51px;
    padding-left: 23px;
    border: 0;
    border-radius: 4px;
    text-transform: uppercase;
    text-align: left;
    font-size: 18px;

    &_red {
        background-color: $bg-color-main;
        color: $text-color-white;

        &::after {
            position: absolute;
            content: '';
            background-image: url('../../images/arrows/white_arrow.svg');
            width: 32px;
            height: 10px;
            top: 20.5px;
            right: 22px;
        }
    }

    &_white {
        background-color: $bg-color-white;
        color: $text-color-title;

        &::after {
            position: absolute;
            content: '';
            background-image: url('../../images/arrows/red_arrow.svg');
            min-width: 32px;
            height: 10px;
            top: 20.5px;
            right: 22px;
        }
    }

    &_centered {
        max-width: 242px;
        min-width: 242px;
        margin-right: 594px;
        margin-left: 594px;

        &::after {
            position: absolute;
            content: '';
            background-image: url('../../images/arrows/double_arrow_white.svg');
            min-width: 75px;
            height: 10px;
            top: 20.5px;
            right: 22px;
        }
    }
}