.block-list {
    margin-bottom: 15px;

    &__title {
        margin-bottom: 15px;
        font-size: 18px;
    }

    &__item {
        font-size: 18px;
    }
}

@media screen and (max-width: 768px) {
    .block-list {
        margin-bottom: 10px;

        &__title {
            margin-bottom: 10px;
            font-size: 16px;
        }

        &__item {
            font-size: 16px;
        }
    }
}