.block-btn {
    position: relative;
    max-width: 200px;
    min-width: 200px;
    max-height: 51px;
    min-height: 51px;
    padding-left: 23px;
    border: 0;
    border-radius: 4px;
    text-transform: uppercase;
    text-align: left;
    font-size: 18px;

    @media screen and (max-width: 1233px) {
        max-width: 183px;
        min-width: 183px;
        font-size: 16px;
    }

    @media screen and (max-width: 480px) {
        max-height: 44px;
        min-height: 44px;
    }

    @media screen and (max-width: 320px) {
        margin-right: auto;
        margin-left: auto;
    }

    &_red {
        background-color: $bg-color-main;
        color: $text-color-white;

        &::after {
            position: absolute;
            content: '';
            background-image: url('../../images/arrows/white_arrow.svg');
            width: 32px;
            height: 10px;
            top: 20.5px;
            right: 22px;

            @media screen and (max-width: 480px) {
                top: 17px;
                right: 20px;
            }
        }
    }

    &_white {
        background-color: $bg-color-white;
        color: $text-color-title;

        &::after {
            position: absolute;
            content: '';
            background-image: url('../../images/arrows/red_arrow.svg');
            min-width: 24px;
            height: 12px;
            top: 19.5px;
            right: 22px;

            @media screen and (max-width: 480px) {
                top: 17px;
                right: 20px;
            }

            @media screen and (max-width: 320px) {
                height: 10px;
            }
        }
    }

    &_centered {
        max-width: 242px;
        min-width: 242px;
        margin-right: 594px;
        margin-left: 594px;

        @media screen and (max-width: 1233px) {
            margin-right: 408px;
            margin-left: 408px;
        }

        @media screen and (max-width: 768px) {
            margin-right: 283px;
            margin-left: 283px;
        }

        @media screen and (max-width: 480px) {
            margin-right: 104px;
            margin-left: 104px;
        }

        @media screen and (max-width: 320px) {
            margin-right: 58px;
            margin-left: 58px;
        }

        &::after {
            position: absolute;
            content: '';
            background-image: url('../../images/arrows/double_arrow_white.svg');
            min-width: 75px;
            height: 10px;
            top: 20.5px;
            right: 22px;

            @media screen and (max-width: 1233px) {
                background-image: url('../../images/arrows/white_arrow.svg');
                min-width: 32px;
                right: 20px;
            }
        }
    }
}