.block-contacts {
    max-width: 1920px;
    max-height: 387px;
    margin: 0 auto;
    font-family: $main-font;

    &-content {
        display: flex;
        flex-direction: column;
        max-height: 155px;
        background-color: $bg-color-light;

        &_left {
            max-width: 397px;
        }

        &_right {
            max-width: 285px;
        }

        &__icon {
            max-height: 44px;
        }

        &__text_bold {
            font-size: 20px;
            font-weight: 600;
        }

        &__text_grey {
            font-size: 14px;
            color: $ext-color-dark;
        }
    }

    &-map {
        max-width: 900px;
        max-height: 387px;
    }
}