.feedback-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 2fr 1fr;
    justify-content: space-between;
    max-width: 615px;
    max-height: 360px;

    @media screen and (max-width: 480px) {
        display: flex;
        flex-direction: column;
        max-width: 340px;
        margin: 0 auto;
    }

    @media screen and (max-width: 320px) {
        max-width: 300px;
    }

    &__input {
        background-color: $bg-color-main;
        border: none;
    }
}

.input-container {
    display: flex;
    flex-direction: column;
    border: solid 2px rgba(255, 255, 255, 0.48);
    border-radius: 4px;
    color: $text-color-white;

    @media screen and (max-width: 480px) {
        gap: 11px;
    }

    @media screen and (max-width: 320px) {
        display: flex;
        flex-direction: column;
        gap: 11px;
    }

    &_sm {
        max-width: 298px;
        min-height: 66px;

        @media screen and (max-width: 480px) {
            max-width: 340px;
            min-height: 68px;
        }

        @media screen and (max-width: 320px) {
            max-width: 300px;
        }
    }

    &_lg {
        max-width: 605px;
        min-height: 128px;
        grid-column: 1/3;

        @media screen and (max-width: 480px) {
            max-width: 340px;
            min-height: 130px;
        }

        @media screen and (max-width: 320px) {
            max-width: 300px;
        }
    }

    &_sm,
    &_lg {
        margin-top: 6px;
    }

    &_sm {
        margin-bottom: 6px;
    }

    &_lg {
        margin-bottom: 17px;
    }
}

.input-name {
    margin-left: 17px;
    margin-right: 17px;
    font-size: 12px;
}

.input-field {
    max-width: 100%;
    margin-left: 17px;
    margin-right: 17px;
    color: $text-color-white;
    background-color: $bg-color-main;
    border: none;

    &_modal {
        background-color: $bg-color-white;
        border: none;
    }

    &::placeholder {
        font-size: 16px;
        color: $text-color-white;
    }
}