.footer {
    display: flex;
    max-width: 1920px;
    min-height: 320px;
    margin: 0 auto;
    font-family: $main-font;
    font-weight: 400;
    background-color: $bg-color-white;

    @media screen and (max-width: 1080px) {
        height: 400px;
    }

    @media screen and (max-width: 700px) {
        text-align: center;
        height: 660px;
        display: flex;
        flex-direction: column;
        justify-content: end;
    }
}

.footer-logo {
    display: flex;
    flex-direction: column;
    max-height: 115px;
    margin-top: 91px;
    margin-bottom: 116px;
    margin-left: 245px;

    &__image {
        max-width: 208px;
        margin-bottom: 20px;
    }

    &__text {
        max-width: 245px;
        color: $text-color-dark;
    }

    @media screen and (max-width: 910px) {
        width: 232px;
        align-items: center;
    }
}

.footer-menu {
    display: flex;
    flex-direction: column;
    max-width: 202px;
    margin-top: 75px;
    margin-left: 250px;

    &__link {
        font-size: 18px;
        line-height: 27px;
        color: $text-color-main;
    }

    @media screen and (max-width: 1080px) {
        width: auto;
    }
}

.footer-contacts {
    display: flex;
    flex-direction: column;
    margin-left: 166px;

    &_top{
        margin-top: 75px;
    }
    &_bottom{
        max-width: 368px;
        margin-top: 45px;
    }
    
    & .content-container__item {
        // font-size: 20px;

        &_bold {
            font-size: 30px;
        }
    }

    @media screen and (max-width: 910px) {
        justify-content: flex-end;
    }

    @media screen and (max-width: 700px) {
        justify-content: center;
        align-items: center;
        margin-top: -30px;
    }
}