.container__low {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 15px;

    @media screen and (max-width: 1310px) {
        max-width: 1000px;
    }

    @media screen and (max-width: 1080px) {
        max-width: 700px;
    }

    @media screen and (max-width: 700px) {
        max-width: 500px;
    }
}

.footer {
    position: absolute;
    color: $text-color-main;
    height: 300px;
    width: 100%;
    bottom: 0;
    z-index: 4;
    background-color: $bg-color-white;

    @media screen and (max-width: 1080px) {
        height: 400px;
    }

    @media screen and (max-width: 700px) {
        text-align: center;
        height: 660px;
        display: flex;
        flex-direction: column;
        justify-content: end;
    }
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    gap: 65px;
    margin-top: 75px;

    @media screen and (max-width: 910px) {
        margin-top: 30px;
        height: 315px;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: end;

    }

    @media screen and (max-width: 700px) {
        flex-wrap: nowrap;
        align-items: center;
        margin-bottom: 15px;
    }
}

.footer__logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media screen and (max-width: 910px) {
        width: 232px;
        align-items: center;
    }
}

.footer__copy {
    display: none;

    @media screen and (max-width: 910px) {
        display: inline-block;
    }
}

.footer__menu {
    width: 460px;

    @media screen and (max-width: 1080px) {
        width: auto;
    }
}

.footer__menu-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100px;
    margin: 0;
    padding: 0;

    @media screen and (max-width: 1080px) {
        height: auto;
        flex-wrap: nowrap;
    }

    @media screen and (max-width: 700px) {
        gap: 5px;
    }
}

.footer__menu-item {
    padding-right: 50px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 1.5;

    @media screen and (max-width: 700px) {
        padding-right: 0;
    }
}

.footer__contacts {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media screen and (max-width: 910px) {
        justify-content: flex-end;
    }

    @media screen and (max-width: 700px) {
        justify-content: center;
        align-items: center;
        margin-top: -30px;
    }
}

.footer__row {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer__contacts p {
    display: block;
    margin: 0;
}

.footer__logo p {
    display: block;
    margin: 0;

    @media screen and (max-width: 910px) {
        display: none;
    }
}

.footer__phone {
    font-family: "RF Dewi Extended";
}

.footer__adress {
    padding-bottom: 5px;
}

.footer__email {
    width: 100px;
}