.container__low {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 15px;

    @media screen and (max-width: 1310px) {
        max-width: 1000px;
    }

    @media screen and (max-width: 1080px) {
        max-width: 700px;
    }

    @media screen and (max-width: 700px) {
        max-width: 500px;
    }
}

.form {
    background-color: #265fe5;
    border-radius: 50px 50px 0px 0px;
    color: #fff;
    padding-top: 85px;
    padding-bottom: 400px;

    @media screen and (max-width: 700px) {
        padding-bottom: 670px;
    }

    @media screen and (max-width: 390px) {
        padding-top: 30px;
    }
}

.form__inner {
    display: flex;
    justify-content: space-between;
    gap: 200px;

    @media screen and (max-width: 1031px) {
        gap: 100px;
    }

    @media screen and (max-width: 940px) {
        gap: 50px;
    }

    @media screen and (max-width: 910px) {
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
        text-align: center;
    }

    @media screen and (max-width: 910px) {
        margin-bottom: 20px;
    }
}

.form__text {
    width: 420px;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;

    @media screen and (max-width: 750px) {
        text-align: center;
    }

    @media screen and (max-width: 445px) {
        max-width: 340px;
    }
}

.form__title {
    font-family: "RF Dewi Extended";
    font-weight: 700;
    font-size: 45px;
    line-height: 58px;
    margin: 0;

    @media screen and (max-width: 750px) {
        font-size: 35px;
    }

    @media screen and (max-width: 390px) {
        font-size: 25px;
        line-height: 30px;
    }
}

.form__subtitle {
    width: 400px;

    @media screen and (max-width: 390px) {
        font-size: 16px;
        line-height: 22px;
    }
}

.form__main {
    flex: 1;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;

    @media screen and (max-width: 420px) {
        margin-top: -30px;
    }
}

.form__main-input,
.form__main-input-text {
    border-radius: 6px;
    border-color: transparent;
    color: inherit;
    font-size: 16px;
    font-weight: 400;
    background-color: inherit;
    border: 1px solid #9BB6F3;

}

.form__main-input::placeholder,
.form__main-input-text::placeholder {
    color: #9BB6F3;
    font-size: inherit;
}

.form__row {
    display: flex;
    gap: 10px;
    justify-content: space-between;

    @media screen and (max-width: 420px) {
        flex-direction: column;
    }
}

.form__main-input {
    flex: 1;
    padding: 5px 0 5px 18px;
}

.error .form__main-input {
    border-color: red;
}

.form__main-input-text {
    height: 115px;
    padding: 5px 0 35px 18px;
}

.btn-row {
    display: flex;
    flex-direction: column;
    align-items: end;

    @media screen and (max-width: 910px) {
        align-items: center;
    }
}

.form__main-button {
    position: relative;
    width: 239px;
    margin-top: 30px;
    padding: 10px 35px 10px 10px;
    border-radius: 8px;
    border-color: transparent;
    background-color: #fff;
    color: #265FE5;
    font-size: 22px;
    font-weight: 600;
    cursor: pointer;

    @media screen and (max-width: 390px) {
        width: 211px;
        margin: 15px 50px;
    }
}

.form__main-button::after {
    position: absolute;
    content: '';
    background-image: url(../images/arrow-blue.svg);
    width: 26px;
    height: 14px;
    right: 25px;
    bottom: 15px;
}

.footer {
    position: absolute;
    color: #fff;
    height: 300px;
    width: 100%;
    bottom: 0;
    z-index: 4;
    background-color: #3a475e;
    border-radius: 50px 50px 0px 0px;

    @media screen and (max-width: 1080px) {
        height: 400px;
    }

    @media screen and (max-width: 700px) {
        text-align: center;
        height: 660px;
        display: flex;
        flex-direction: column;
        justify-content: end;
    }
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    gap: 65px;
    margin-top: 75px;

    @media screen and (max-width: 910px) {
        margin-top: 30px;
        height: 315px;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: end;

    }

    @media screen and (max-width: 700px) {
        flex-wrap: nowrap;
        align-items: center;
        margin-bottom: 15px;
    }
}

.footer__logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media screen and (max-width: 910px) {
        width: 232px;
        align-items: center;
    }
}

.footer__copy {
    display: none;

    @media screen and (max-width: 910px) {
        display: inline-block;
    }
}

.footer__menu {
    width: 460px;

    @media screen and (max-width: 1080px) {
        width: auto;
    }
}

.footer__menu-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100px;
    margin: 0;
    padding: 0;

    @media screen and (max-width: 1080px) {
        height: auto;
        flex-wrap: nowrap;
    }

    @media screen and (max-width: 700px) {
        gap: 5px;
    }
}

.footer__menu-item {
    padding-right: 50px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 1.5;

    @media screen and (max-width: 700px) {
        padding-right: 0;
    }
}

.footer__contacts {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media screen and (max-width: 910px) {
        justify-content: flex-end;
    }

    @media screen and (max-width: 700px) {
        justify-content: center;
        align-items: center;
        margin-top: -30px;
    }
}

.footer__row {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer__contacts p {
    display: block;
    margin: 0;
}

.footer__logo p {
    display: block;
    margin: 0;

    @media screen and (max-width: 910px) {
        display: none;
    }
}

.footer__phone {
    font-family: "RF Dewi Extended";
}

.footer__adress {
    padding-bottom: 5px;
}

.footer__email {
    width: 100px;
}