.photos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1430px;
    min-height: 936px;
    margin: 0 auto 98px;

    @media screen and (max-width: 1440px) {
        max-width: 1000px;
        min-height: 655px;
        margin: 0 auto 80px;
    }

    @media screen and (max-width: 1024px) {
        max-width: 900px;
        min-height: 590px;
        margin-bottom: 60px;
    }

    @media screen and (max-width: 900px) {
        max-width: 800px;
        min-height: 525px;
    }

    @media screen and (max-width: 768px) {
        max-width: 720px;
        min-height: 471px;
        margin: 0 auto 50px;
    }

    @media screen and (max-width: 650px) {
        max-width: 620px;
        min-height: 410px;
    }

    @media screen and (max-width: 550px) {
        display: flex;
        flex-direction: column;
        max-width: 500px;
        gap: 14px;
        margin: 0 auto 51px;
    }

    @media screen and (max-width: 480px) {
        max-width: 300px;
        min-height: 0;
    }

    &__item {
        min-width: 700px;
        max-width: 700px;
        min-height: 453px;

        @media screen and (max-width: 1440px) {
            min-width: 490px;
            max-width: 490px;
            min-height: 318px;
        }

        @media screen and (max-width: 1024px) {
            min-width: 440px;
            max-width: 440px;
            min-height: 285px;
        }

        @media screen and (max-width: 900px) {
            min-width: 390px;
            max-width: 390px;
            min-height: 252px;
        }

        @media screen and (max-width: 768px) {
            max-width: 350px;
            min-width: 350px;
            min-height: calc(350px*0.65);
        }

        @media screen and (max-width: 650px) {
            max-width: 300px;
            min-width: 300px;
            min-height: calc(300px*0.65);
        }

        @media screen and (max-width: 550px) {
            max-width: 500px;
            min-width: 500px;
            min-height: calc(500px*0.65);
        }

        @media screen and (max-width: 480px) {
            max-width: 300px;
            min-width: 300px;
            min-height: 190px;
        }

        &_l-top {
            background: url('../../images/photos/photo-bg_1.png');
        }

        &_r-top {
            justify-self: flex-end;
            background: url('../../images/photos/photo-bg_2.png');
        }

        &_l-bot {
            align-self: flex-end;
            background: url('../../images/photos/photo-bg_3.png');
        }

        &_r-bot {
            justify-self: flex-end;
            align-self: flex-end;
            background: url('../../images/photos/photo-bg_4.png');
        }

        &_l-top,
        &_r-top,
        &_l-bot,
        &_r-bot {
            @media screen and (max-width: 1440px) {
                background-size: contain;
            }
        }
    }
}

.photo-text {
    max-width: 410px;
    margin: 47px auto;
    font-size: 25px;
    text-align: center;
    line-height: 130%;
    color: $text-color-white;

    @media screen and (max-width: 1440px) {
        font-size: 20px;
    }

    @media screen and (max-width: 900px) {
        max-width: 300px;
        margin: 15px auto;
        font-size: 18px;
    }

    @media screen and (max-width: 650px) {
        max-width: 290px;
        font-size: 16px;
    }

    @media screen and (max-width: 550px) {
        max-width: 400px;
        margin: 25px auto;
        font-size: 20px;
    }

    @media screen and (max-width: 480px) {
        max-width: 290px;
        margin: 15px auto;
        font-size: 16px;
    }
}
