.products {
    font-family: $main-font;

    &__title {}

    &__shampoo {}

    &__subtitle {}

    &__visible-wrapper {
        width: 80%;
        display: flex;
    }

    &__collapsible {}

    &__wax {}

    &__special {}

    &__product-card {
        width: 20%;

        img {
            width: 100%;
            max-width: 342px;
        }
    }

    &__card-title {}

    &__card-info {}

    &__ingredients {}

    &__card-subtitle {}

    &__size {}

    &__size-option {}

    &__button-buy {}
}