.products {
    width: 78%;
    max-width: 1700px;
    margin: 80px auto 100px;
    font-family: $main-font;

    &__title-group {
        display: flex;

        img {
            width: 10%;
        }
    }

    &__title {
        margin-left: 20px;
        @include font-style (600, $title-font-size, 40px);
        color: $text-color-title;
    }

    &__shampoo {}

    &__subtitle {
        margin: 50px auto 30px;
        @include font-style (500, $subtitle-font-size, 39px);
    }

    &__visible-wrapper {
        min-height: 800px;
        display: flex;
        justify-content: space-between;

        &_wax {
            justify-content: flex-start;
        }
    }

    &__collapsible-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-in;
    }

    &__wax {}

    &__special {}

    &__product-card {
        width: 24%;
        padding-bottom: 20px;
        margin-right: 10px;
        outline: 1.3px solid $bg-color-light;
    }

    &__card-img {
        display: flex;
        align-items: center;
        width: 100%;
        min-height: 37%;
        padding: 20px 50px;
        border-bottom: 1.3px solid $bg-color-light;

        img {
            width: 80%;
            margin: 0 auto;
        }
    }

    &__card-content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 20px;
        min-height: 600px;
    }

    &__card-title {
        @include font-style (500, $big-text-font-size, 37.5px);
    }

    &__card-info {
        @include font-style (300, $small-text-font-size, 24px);
    }

    &__button-read-more {
        width: 60%;
        padding: 0;
        margin-bottom: 20px;
        border: none;
        @include font-style (300, $small-text-font-size, 16px);
        font-style: italic;
        text-align: left;
        background-color: $bg-color-white;
        color: $text-color-title;
    }

    &__ingredients {}

    &__card-subtitle {
        width: 100%;
        margin-top: 10px;
        @include font-style (500, $small-text-font-size, 24px);
        text-transform: uppercase;
    }

    &__size {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    &__size-option {
        width: 19%;
        padding: 6px 4px;
        margin-right: 6px;
        @include font-style (300, $small-text-font-size, 24px);
        text-align: center;
        background-color: $bg-color-light;
    }

    &__button-buy {
        // width: 35%;
        @include button-main (118px, 15px, $button-font-size);
        text-transform: uppercase;
    }

    &__button-more {
        min-width: 20%;
        margin-top: 40px;
        margin-left: 42.5%;
        padding: 7px;

        border: 1px solid $bg-color-main;
        border-radius: 4px;

        @include font-style (400, $button-font-size, 42px);
        text-transform: uppercase;

        background-color: $bg-color-white;
        color: $text-color-title;

        img {
            display: inline;
            margin-left: 10px;
        }
    }
}


@media screen and (min-width: 1650px) and (max-width: 1917px) {
    .products {
        &__product-card {
            padding-bottom: 15px;
        }

        &__card-img {
            min-height: 35%;
        }

        &__size-option {
            box-sizing: border-box;
            width: 21%;
            padding: 6px 2px;
            font-size: 14px;
            margin-right: 0;
        }

        &__button-buy {
            padding: 10px;
        }
    }
}


@media screen and (min-width: 1535px) and (max-width: 1649px) {
    .products {
        &__card-content {
            padding: 15px;
            min-height: 550px;
        }

        &__product-card {
            padding-bottom: 15px;
        }

        &__card-img {
            padding: 10px 30px;
        }

        &__card-info {
            font-size: 14px;
            line-height: 20px;
        }

        &__button-read-more {
            margin-bottom: 10px;
        }

        &__size-option {
            box-sizing: border-box;
            width: 21%;
            padding: 6px 2px;
            font-size: 14px;
            margin-right: 0;
        }

        &__button-buy {
            padding: 8px;
            font-size: 14px;
        }
    }
}


@media screen and (min-width: 1024px) and (max-width: 1534px) {
    .products {
        &__visible-wrapper {
            min-height: 730px;
        }

        &__product-card {
            margin-right: 7px;
            padding-bottom: 0;
            min-height: 750px;

            @media screen and (max-width: 1077px) {
                min-height: 820px;
            }
        }

        &__card-content {
            padding: 10px;
            min-height: 500px;

            @media screen and (max-width: 1077px) {
                height: 577px;
            }
        }

        &__card-img {
            padding: 10px 20px;
            min-height: 31%;

            img {
                width: 75%;
            }
        }

        &__card-title {
            font-size: 20px;
            line-height: 28px;
        }

        &__card-subtitle {
            margin-top: 5px;
        }

        &__card-info {
            font-size: 13px;
            line-height: 17px;
        }

        &__button-read-more {
            margin-bottom: 10px;
            font-size: 13px;
        }

        &__size-option {
            box-sizing: border-box;
            width: 21%;
            padding: 3px 0;
            font-size: 11px;
            margin-right: 0;
        }

        &__button-buy {
            @include button-main (50px, 5px, 10px);
        }
    }
}

// планшет
@media screen and (min-width: 612px) and (max-width: 1023px) {
    .products {
        // * {
        //     outline: 1px solid purple;
        // }

        &__title {
            @include font-style (600, $title-font-size-tablet, 30px);
        }

        &__subtitle {
            @include font-style (500, $subtitle-font-size-tablet, 30px);
        }

        &__visible-wrapper {
            flex-wrap: wrap;
        }

        &__product-card {
            width: 45%;
            margin-right: 0;

            @media screen and (max-width: 672px) {
                width: 49%;
            }
        }

        &__card-title {
            @include font-style (500, 22px, 28px);
        }

        &__card-info {
            @include font-style (300, $small-text-font-size, 20px);

            @media screen and (max-width: 740px) {
                @include font-style (300, 14px, 18px);
            }
        }

        &__card-img {
            min-height: 25%;
            padding: 10px 50px;

            img {
                width: 70%;
            }
        }

        &__size-option {
            width: 21%;
            padding: 3px 0;
            font-size: 12px;
            margin-right: 0;
        }

        &__button-buy {
            @include button-main (120px, 7px, 12px);
        }
    }
}

// мобильные 
@media screen and (min-width: 200px) and (max-width: 611px) {
    .products {
        &__title {
            @include font-style (600, $title-font-size-tablet, 30px);
        }

        &__subtitle {
            width: 96%;
            @include font-style (500, $big-text-font-size, 30px);
        }

        &__visible-wrapper {
            flex-wrap: wrap;
        }

        &__product-card {
            width: 96%;
            margin: 0 auto;

            @media screen and (max-width: 425px) {
                min-height: 800px;
            }
        }

        &__card-img {
            min-height: 25%;
            padding: 20px;

            img {
                width: 60%;

                @media screen and (max-width: 430px) {
                    width: 80%;
                }
            }
        }

        &__card-content {
            padding: 10px;
        }

        &__card-title {
            @include font-style (500, $big-text-font-size, 28px);

            @media screen and (max-width: 265px) {
                @include font-style (500, 20px, 25px);
            }
        }

        &__card-info {
            @include font-style (300, $small-text-font-size, 24px);

            @media screen and (max-width: 425px) {
                @include font-style (300, 14px, 18px);
            }
        }

        &__size-option {
            @media screen and (max-width: 453px) {
                width: 21%;
                padding: 3px 0;
                font-size: 12px;
                margin-right: 0;
            }
        }

        &__button-buy {
            @media screen and (max-width: 453px) {
                @include button-main (120px, 7px, 12px);
            }
        }

        &__button-more {
            min-width: 70%;
            margin-left: 15%;
        }

    }
}