.service {
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
    font-family: $main-font;
    font-weight: 400;

    &_bg-grey {
        max-height: 537px;
        min-height: 537px;
        background-color: $bg-color-light;

        &__image {
            max-height: 423px;
            // margin: auto;
            margin-top: 57px;
            margin-right: 306px;
            margin-bottom: 57px;
            margin-left: 1035px;
        }
    }

    &_bg-red {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-height: 670px;
        min-height: 670px;
        background-color: $bg-color-main;
    }

    &_bg-white {
        position: absolute;
        top: 0;
        left: 245px;
        z-index: 1;
        max-height: 662px;
        min-height: 662px;
        max-width: 706px;
        background-color: $bg-color-white;
    }
}

.header-container {

    &__icon,
    &__title {
        display: inline-block;
        margin-top: 62px;
    }

    &__title {
        margin-left: 29px;
        font-size: 40px;
        font-weight: 600;
        color: $text-color-title;
    }
}

.content-container {
    max-width: 610px;
    margin: 46px 44px 40px 52px;
    font-size: 18px;
    line-height: 24px;

    &__item {
        margin-bottom: 15px;
        color: $text-color-main;

        &_bold {
            font-weight: 700;
        }

        &_red {
            font-weight: 700;
            color: $text-color-title;
        }
    }
}

.block-list {
    margin-bottom: 15px;

    &__title {
        margin-bottom: 15px;
    }
}

.content-container_left {
    max-width: 502px;
    margin-top: 213px;
    margin-left: 300px;

    // border: 1px solid blue;

    &__item {
        position: relative;
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 20px;
        line-height: 27px;
        color: $text-color-white;

        &::before {
            position: absolute;
            content: '';
            background-image: url('../../images/block-8_icons/icon_small_question_mark.svg');
            width: 33px;
            height: 33px;
            top: 10px;
            left: -100px;
        }
    }

    &__item_lg {
        margin-top: 55px;

        &::before {
            position: absolute;
            content: '';
            background-image: url('../../images/block-8_icons/icon_phone.svg');
            width: 66px;
            height: 66px;
            top: 0px;
            left: -116px;
        }
    }
}

.block-btn {
    position: relative;
    max-width: 200px;
    min-width: 200px;
    max-height: 51px;
    min-height: 51px;
    padding-left: 23px;
    border: 0;
    border-radius: 4px;
    text-transform: uppercase;
    text-align: left;
    font-size: 18px;

    &_red {
        background-color: $bg-color-main;
        color: $text-color-white;

        &::after {
            position: absolute;
            content: '';
            background-image: url('../../images/arrows/white_arrow.svg');
            width: 32px;
            height: 10px;
            top: 20.5px;
            right: 22px;
        }
    }

    &_white {
        background-color: $bg-color-white;
        color: $text-color-title;

        &::after {
            position: absolute;
            content: '';
            background-image: url('../../images/arrows/red_arrow.svg');
            min-width: 32px;
            height: 10px;
            top: 20.5px;
            right: 22px;
        }
    }
}

.service-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 2fr 1fr;
    // justify-items: center;
    max-width: 615px;
    max-height: 360px;
    margin-top: 213px;
    margin-left: 120px;

    &__input {
        background-color: $bg-color-main;
        border: none;

        // &__input:active {
        //     background-color: $bg-white;
        // }
    }
}

.input-container {
    display: flex;
    flex-direction: column;
    border: solid 2px rgba(255, 255, 255, 0.48);
    border-radius: 4px;
    color: $text-color-white;

    &_sm {
        max-width: 298px;
        max-height: 66px;
        min-width: 298px;
        min-height: 66px;
    }

    &_lg {
        max-width: 613px;
        max-height: 128px;
        min-width: 613px;
        min-height: 128px;
        grid-column: 1/3;
    }

    &_sm,
    &_lg {
        margin-top: 6px;
        margin-bottom: 6px;
    }
}