.title-container {

    &_contacts {
        margin-top: 21px;
        margin-left: 245px;
    }

    &__icon,
    &__title {
        display: inline-block;
        margin-top: 62px;
    }

    &__title {
        margin-left: 29px;
        font-family: $main-font;
        font-size: 40px;
        font-weight: 600;
        color: $text-color-title;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {}

@media screen and (min-width: 769px) and (max-width: 1024px) {}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .title-container {

        &_contacts {
            margin-top: 21px;
            margin-left: 0;
        }

        &__icon,
        &__title {
            display: inline-block;
            margin-top: 32px;
        }

        &__title {
            margin-left: 21px;
            font-size: 30px;
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .title-container {
        max-width: 390px;
        line-height: 29px;

        &_contacts {
            margin-top: 21px;
            margin-left: 0;
        }

        &__icon,
        &__title {
            display: inline-block;
        }

        &__icon {
            margin-top: 0;
            margin-left: -22px;
        }

        &__title {
            max-width: 250px;
            margin-top: 50px;
            margin-left: 21px;
            font-size: 30px;
        }
    }

    .convinience .title-container__icon {
        margin-bottom: 50px;
    }
}